
Escalonamento/WebAPI/obj/Debug/netcoreapp3.1/Escalonamento.AssemblyInfo.cs
*.xml
Escalonamento/WebAPI/obj/Debug/netcoreapp3.1/apphost.exe
Escalonamento/WebAPI/obj/Debug/netcoreapp3.1/Escalonamento.AssemblyInfo.cs
Escalonamento/WebAPI/obj/Debug/netcoreapp3.1/Escalonamento.assets.cache
Escalonamento/WebAPI/obj/Debug/netcoreapp3.1/Escalonamento.csproj.AssemblyReference.cache
Escalonamento/WebAPI/obj/Debug/netcoreapp3.1/Escalonamento.GeneratedMSBuildEditorConfig.editorconfig
Escalonamento/WebAPI/obj/Escalonamento.csproj.nuget.dgspec.json
Escalonamento/WebAPI/obj/Escalonamento.csproj.nuget.g.props
Escalonamento/WebAPI/obj/Escalonamento.csproj.nuget.g.targets
Escalonamento/WebAPI/obj/project.assets.json
Escalonamento/WebAPI/obj/project.nuget.cache
Escalonamento/WebAPI/obj/project.packagespec.json
Escalonamento/WebAPI/obj/rider.project.restore.info
*.cache