<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TableNewSim</title>
</head>

<body>

  <div class="conteiner">
    <h1>Sim Novo</h1>
    <input type="number" min="1" placeholder="Id Simulação" [(ngModel)]="IdSim">
    <input type="number" min="1" placeholder="Id Job" [(ngModel)]="IdJob">
    <input type="number" min="1" placeholder="Id Operação" [(ngModel)]="IdOp">
    <div style="display: flex;align-items: center;gap:50px">
      <p>ID Máquina</p>
      <select name="maquina" id="simulacao" [(ngModel)]="IdMaq">
        <option *ngFor="let maquina of Maquinas">{{maquina.IdMaq}}</option>
      </select>
    </div>
    <input type="number" min="1" placeholder="Duração" [(ngModel)]="Duracao">
    <div>
      <input type="submit" value="Submeter" (click)="SubmitConexao()">
      <input type="submit" value="Cancelar" routerLink="/perfil">
    </div>
  </div>

</body>

</html>
