* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins-Regular, sans-serif;
}

body {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

.top_navbar {
    color: rgb(255, 166, 0);
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 5px solid rgb(255, 166, 0);
}

.top_navbar a {
    margin-right: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 0;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 166, 0);
    background-color: black;
    border: 2px solid rgb(255, 166, 0);
    margin-bottom: 5px;
    padding: 12px 16px;
    display: block;
    border-radius: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background: rgb(255, 166, 0);
    color: black;
}

select {
    background-color: black;
    color: rgb(255, 166, 0);
    width: 200px;
    height: 30px;
    border-radius: 15px;
    margin: 10px;
    font-size: 17px;
}

input[type="submit"], input[type="button"] {
    width: 110px;
    height: 30px;
    cursor: pointer;
    color: rgb(255, 166, 0);
    background-color: black;
    border: 2px solid rgb(255, 166, 0);
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
}

input[type="submit"]:hover, input[type="button"]:hover {
    background: rgb(255, 166, 0);
    color: black;
}

input[id="rem"]
{
    margin-top: 20px;
}

input[id="rem"]:hover
{
    background-color: red;
    color:white;
    border-color: red;
}


.menu {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 50%;
    transition: transform .2s ease-in-out;
}

.menu:hover {
    opacity: 100%;
    transform: rotate(30deg);
}

h1,h2,p
{
    color:rgb(255, 196, 0);
}

.detalhes
{
    margin-top: 10px;
}

h3
{
    color: #f7cd75;
}

.alerta
{
    display: none;
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right: 0;
    justify-content: center;
    align-items: center;
}

.box
{
    height: 300px;
    width: 300px;
    background-color: black;
    border:2px solid rgb(255, 196, 0);
    border-radius: 15px;
    position: absolute;
}

.box form
{
    height: 100%;
    width: 100%;
    display: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.opacity
{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 50%;
}

input[type="number"],input[type="password"] {

    width: 200px;
    height: 30px;
    margin-top: 10px;
    padding: 7px;
    border: 1px solid rgb(255, 166, 0);
    background-color: black;
    color: rgb(255, 166, 0);
    border-radius: 15px;

  }

  .add
  {
      margin-top: 15px;
  }

  .simulacao
  {
      display: none;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 50px;
  }

.conteiner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-top: 90px;
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins-Regular, sans-serif;
}

body {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}

.top_navbar {
  color: rgb(255, 166, 0);
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 5px solid rgb(255, 166, 0);
}

.top_navbar a {
  margin-right: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 0;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 166, 0);
  background-color: black;
  border: 2px solid rgb(255, 166, 0);
  margin-bottom: 5px;
  padding: 12px 16px;
  display: block;
  border-radius: 15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background: rgb(255, 166, 0);
  color: black;
}

select {
  background-color: black;
  color: rgb(255, 166, 0);
  width: 200px;
  height: 30px;
  border-radius: 15px;
  margin: 10px;
  font-size: 17px;
}

input[type="submit"], input[type="button"] {
  width: 110px;
  height: 30px;
  cursor: pointer;
  color: rgb(255, 166, 0);
  background-color: black;
  border: 2px solid rgb(255, 166, 0);
  font-size: 13px;
  font-weight: bold;
  border-radius: 20px;
}

input[type="submit"]:hover, input[type="button"]:hover {
  background: rgb(255, 166, 0);
  color: black;
}

input[id="rem"]
{
  margin-top: 20px;
}

input[id="rem"]:hover
{
  background-color: red;
  color:white;
  border-color: red;
}


.menu {
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 50%;
  transition: transform .2s ease-in-out;
}

.menu:hover {
  opacity: 100%;
  transform: rotate(30deg);
}

h1,h2,p
{
  color:rgb(255, 196, 0);
}

.detalhes
{
  margin-top: 10px;
}

h3
{
  color: #f7cd75;
}

.alerta
{
  display: none;
  position: absolute;
  top: 0;
  bottom:0;
  left:0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.box
{
  height: 300px;
  width: 300px;
  background-color: black;
  border:2px solid rgb(255, 196, 0);
  border-radius: 15px;
  position: absolute;
}

.box form
{
  height: 100%;
  width: 100%;
  display: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.opacity
{
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 50%;
}

input[type="number"],input[type="password"] {

  width: 200px;
  height: 30px;
  margin-top: 10px;
  padding: 7px;
  border: 1px solid rgb(255, 166, 0);
  background-color: black;
  color: rgb(255, 166, 0);
  border-radius: 15px;

}

.add
{
    margin-top: 15px;
}

.simulacao
{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.conteiner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin-top: 90px;
  margin-bottom: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.submits {
  margin-top: 20px;
  margin-bottom: 50px;
}

.table {
  width: 90%;
  border-collapse: collapse;
  border: 1px solid;
  table-layout: fixed;
  text-align: left;
  margin-top: 35px;
  text-align: center;
}

.table2 {
  width: 90%;
  border-collapse: collapse;
  border: 1px solid;
  table-layout: fixed;
  text-align: left;
  margin-top: 35px;
}

thead {
  color: black;
}

thead tr {
  background-color: rgb(255, 166, 0);
}

thead th {
  padding-left: 10px;
}

td {
  height: 25px;
  padding-left: 10px;
}

tr {
  background-color: #f7cd75;
}

tr:nth-child(even) {
  background-color: rgb(241, 171, 80);
}

/* job */
td:first-child {
  font-weight: bold;
}

/* todos tds pos job */
.table td:not(td:first-child)
{
  cursor: pointer;
}
.table td:not(td:first-child):hover
{
  font-weight: bold;
  font-size: 20px;
}

.time {
  width: 90%;
  border: 1px solid;
  table-layout: fixed;
  text-align: right;
}

tbody tr th {
  font-weight: normal;
  color: rgb(255, 166, 0);
  background-color: black;
}
