<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="conteiner">

        <h1>Simulação</h1>
        <div class="sim">
            <select name="simulacao" id="simulacao" [(ngModel)]="SimulacaoSelectedId" (change)="refreshTable()">
                <option value="---">---</option>
                <option *ngFor="let SimulacaoId of ConexoesSimulacoesIDs">{{SimulacaoId}}</option>
            </select>
            <input class="remover" type="submit" value="Remover" (click)="removeSimulation()">
            <input class="remover" type="button" value="Download File" (click)="download()">
        </div>

        <div>

        </div>
        <table class="table" *ngIf="state == 1">
            <thead>
                <th></th>
                <th *ngFor="let Conexao of ConexoesSimulacao">Operação {{Conexao.IdOp}}</th>
            </thead>
            <tbody class="bodytable">
                <tr class="lineTable" *ngFor="let Conexao of ConexoesSimulacao">
                    <td class="job">Job {{Conexao.IdJob}}</td>
                    <td *ngFor="let MaqDur of ConexoesSimulacao">
                        <a *ngIf="MaqDur.IdOp == Conexao.IdOp && MaqDur.IdJob == Conexao.IdJob && MaqDur.IdMaq != null && MaqDur.Duracao != null"
                            class="celula">M{{MaqDur.IdMaq}}, {{MaqDur.Duracao}}</a>
                        <a *ngIf="MaqDur.IdOp == Conexao.IdOp && MaqDur.IdJob != Conexao.IdJob" class="celula">---</a>
                        <a *ngIf="MaqDur.IdOp != Conexao.IdOp && MaqDur.IdJob == Conexao.IdJob" class="celula">---</a>
                        <a *ngIf="MaqDur.IdOp != Conexao.IdOp && MaqDur.IdJob != Conexao.IdJob" class="celula">---</a>
                        <a *ngIf="MaqDur.IdOp == Conexao.IdOp && MaqDur.IdJob == Conexao.IdJob && MaqDur.IdMaq == null && MaqDur.Duracao == null"
                            class="celula">M---, ---</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2 *ngIf="state == 1">Pesquisa Máquina/Duração</h2>
        <div *ngIf="state == 1">
          <div style="display:flex;flex-direction:column;text-align:center;align-items:center;gap:15px;">
            <div>
              <a style="color:rgb(196, 165, 26);font-weight:bold">Máquina: {{SelectedMachine.IdMaq}} Duração: {{SelectedMachine.Duracao}}</a>
            </div>
            <div>
              <input type="number" placeholder="ID Job" [(ngModel)]="IdJobAux">
              <input type="number" placeholder="ID Operação" [(ngModel)]="IdOpAux">
            </div>
            <input type="button" value = "Pesquisar" (click)="pesquisaMaquina()">
          </div>
        </div>

        <h2 *ngIf="state == 1">Substituir célula na simulação</h2>
        <div class="CellUpdate" *ngIf="state == 1">
            <h3>Selecione a célula</h3>
            <div class="componente">
                <p>ID Job</p>
                <select [(ngModel)]="IdJob">
                    <option></option>
                    <option *ngFor="let simulacao of ConexoesSimulacao">{{simulacao.IdJob}}</option>
                </select>
            </div>
            <div class="componente">
                <p>ID Operação</p>
                <select [(ngModel)]="IdOp">
                    <option></option>
                    <option *ngFor="let simulacao of ConexoesSimulacao">{{simulacao.IdOp}}</option>
                </select>
            </div>

            <h3>Novos valores da célula</h3>
            <div class="componente">
                <p>ID Máquina</p>
                <select [(ngModel)]="IdMaq">
                    <option *ngFor="let maquina of Maquinas">{{maquina.IdMaq}}</option>
                </select>
            </div>
            <input type="number" min="1" placeholder="Duração" [(ngModel)]="Duracao">
            <input class="submit" type="submit" value="Submeter" (click)="updateCell()">
        </div>

    </div>

</body>

</html>
