.conteiner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-top: 90px;
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.submits {
    margin-top: 20px;
    margin-bottom: 50px;
}

.table {
    width: 90%;
    border-collapse: collapse;
    border: 1px solid;
    table-layout: fixed;
    text-align: left;
    margin-top: 35px;
    text-align: center;
}

.table2 {
    width: 90%;
    border-collapse: collapse;
    border: 1px solid;
    table-layout: fixed;
    text-align: left;
    margin-top: 35px;
}

thead {
    color: black;
}

thead tr {
    background-color: rgb(255, 166, 0);
}

thead th {
    padding-left: 10px;
}

td {
    height: 25px;
    padding-left: 10px;
}

tr {
    background-color: #f7cd75;
}

tr:nth-child(even) {
    background-color: rgb(241, 171, 80);
}

/* job */
td:first-child {
    font-weight: bold;
}

/* todos tds pos job */
.table td:not(td:first-child)
{
    cursor: pointer;
}
.table td:not(td:first-child):hover
{
    font-weight: bold;
    font-size: 20px;
}

.time {
    width: 90%;
    border: 1px solid;
    table-layout: fixed;
    text-align: right;
}

tbody tr th {
    font-weight: normal;
    color: rgb(255, 166, 0);
    background-color: black;
}