* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins-Regular, sans-serif;
}

body {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

.top_navbar {
    color: rgb(255, 166, 0);
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 5px solid rgb(255, 166, 0);
}

.top_navbar a {
    margin-right: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 166, 0);
    background-color: black;
    border: 2px solid rgb(255, 166, 0);
    margin-bottom: 5px;
    padding: 12px 16px;
    display: block;
    border-radius: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background: rgb(255, 166, 0);
    color: black;
}

select {
    background-color: black;
    color: rgb(255, 166, 0);
    width: 200px;
    height: 30px;
    border-radius: 15px;
    margin: 25px;
    font-size: 17px;
}

input[type="submit"] {
    width: 110px;
    height: 30px;
    cursor: pointer;
    color: rgb(255, 166, 0);
    background-color: black;
    border: 2px solid rgb(255, 166, 0);
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
}

input[type="submit"]:hover {
    background: rgb(255, 166, 0);
    color: black;
}


.menu {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 50%;
    transition: transform .2s ease-in-out;
}

.menu:hover {
    opacity: 100%;
    transform: rotate(30deg);
}

h1
{
    color:rgb(255, 196, 0);
}