<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" routerLink="login.component.css" />
</head>

<body>
    <main>
        <a class="links" id="paralogin"></a>
        <a class="links" id="pararegisto"></a>

        <div class="content">

            <!--LOGIN-->
            <div id="login" class="log">
                <form>

                    <h1>Login</h1>

                    <div class="inputs">
                        <input required="required" type="text" placeholder="E-mail" />
                    </div>

                    <div class="pass">
                        <input id="pass" required="required" type="password" placeholder="Palavra-passe">
                        <span type="image" (click)="MostraPass()">
                            <img class="eye" src="../../assets/eye.png">
                        </span>
                    </div>

                    <p>
                        <input type="submit" value="Entrar" routerLink="/simulacao"/>
                    </p>

                    <div class="footer">
                        <div class="link">
                            Ainda não se registou?
                            <a href="#pararegisto">Registar</a>
                        </div>
                    </div>

                </form>
            </div>

            <!--REGISTO-->
            <div id="registo" class="reg">
                <form>

                    <h1>Registo</h1>

                    <div class="inputs">
                        <input type="email" placeholder="E-mail" />
                        <input type="password" placeholder="Palavra-passe" />
                    </div>

                    <p>
                        <input type="submit" value="Registar" />
                    </p>

                    <footer class="link">
                        Já está registado?
                        <a href="#paralogin">Login</a>
                    </footer>

                </form>
            </div>
        </div>

        <div class="content">
            <img src="../../assets/side.jpg" class="image">
        </div>

    </main>
</body>
