<!DOCTYPE html>
<html lang="pt">

<head>
    <link rel="stylesheet" routerLink="simgenerator.component.css">
</head>

<body>

    <div class="section">

        <div class="top_navbar">
            <a>Nome User</a>
            <div class="dropdown" style="float:right;">
                <img src="../../../assets/menu.png" class="menu">
                <div class="dropdown-content">
                    <a routerLink="../../pagina/html/inicial.html">Simulações</a>
                    <a routerLink="conta.html">Conta</a>
                    <a routerLink="../../login/html/login.html">Sair</a>
                </div>
            </div>
        </div>

        <div class="conteiner">
            <h1>Simulação 1</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Operação 1</th>
                        <th>Operação 2</th>
                    </tr>
                </thead>
                <tbody class="bodytable">
                    <tr class="lineTable">
                        <td>Job 1</td>
                        <td id="maqSel">-</td>
                        <td>-</td>
                    </tr>
                    <tr class="lineTable">
                        <td>Job 2</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr class="lineTable">
                        <td>Job 3</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr class="lineTable">
                        <td>Job 4</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
            <div class="submits">
                <input type="submit" value="Novo Job" id="btnJob">
                <input type="submit" value="Nova Operação" id="btnOp">
                <input type="submit" value="Simular" id="btnSim">
            </div>

            <div class="simulacao" id="simulacao">
                <table class="table2">
                    <tbody class="bodytable">
                        <tr class="lineTable">
                            <td>Máquina 1</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="lineTable">
                            <td>Máquina 2</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="lineTable">
                            <td>Máquina 3</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="lineTable">
                            <td>Máquina 4</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table class="time">
                    <tbody>
                        <tr>
                            <th>
                                0
                            </th>
                            <th>
                                1
                            </th>
                            <th>
                                2
                            </th>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" value="Fechar" id="btnCancelar">
            </div>

            <h2>Detalhes</h2>
            <div class="detalhes">
                <h3>Número de Trabalhos: X</h3>
                <h3>Número de Operações: Y</h3>
                <h3>Número de Máquinas: Z</h3>
            </div>

            <div>
                <input type="submit" value="Remover" id="rem">
            </div>
        </div>

    </div>

    <div class="alerta" id="addMaq">
        <div class="opacity">
        </div>
        <div class="box">
            <form action="">
                <p>Máquina</p>
                <select required>
                    <option>---</option>
                    <option>Máquina 1</option>
                    <option>Máquina 2</option>
                    <option>Máquina 3</option>
                    <option>Máquina 4</option>
                </select>
                <p>Duração</p>
                <input type="number" placeholder="unidades de tempo" required>
                <div>
                    <input type="submit" value="Adicionar" class="add">
                    <input type="button" value="Cancelar" id="cancel">
                </div>
            </form>
        </div>
    </div>

    <script src="../js/pagina.js"></script>
</body>

</html>