<!DOCTYPE html>
<html lang="pt">

<head>
    <link rel="stylesheet" routerLink="perfil.component.css">
</head>

<body>

    <div class="section">

        <div class="top_navbar">
            <a>{{Conta.Mail}}</a>
            <div class="dropdown" style="float:right;">
                <img src="../../../assets/menu.png" class="menu">
                <div class="dropdown-content">
                    <a routerLink="/simulacao">Simulações</a>
                    <a routerLink="/perfil">Conta</a>
                    <a routerLink="/login" (click)="logout()">Sair</a>
                </div>
            </div>
        </div>

        <div class="conteiner">
            <h1>Alteração de Password</h1>
            <h3>Nova Password</h3>
            <input type="password" [(ngModel)]="Pass" [ngModelOptions]="{standalone: true}">
            <h3>Confirmação</h3>
            <input type="password" [(ngModel)]="ConfirmPass" [ngModelOptions]="{standalone: true}">

            <div>
                <a routerLink="/perfil">
                    <input type="submit" value="Confirmar" (click)="UpdateClientePassword()">
                </a>
                <a>
                    <input type="submit" value="Cancelar" (click)="Cancelar()">
                </a>
            </div>

            <h1 class="conta">Conta</h1>
            <a>
                <input type="submit" value="Suspender" id="rem" (click)="Suspender()">
            </a>

        </div>
    </div>
</body>

</html>
