body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to top left, rgb(255, 166, 0) 0%, black 100%);
  font-family: Poppins-Regular, sans-serif;
}

input[type="submit"],
input[type="button"] {
    width: 120px;
    height: 30px;
    cursor: pointer;
    background: rgb(255, 166, 0);
    color: black;
    border: 2px solid rgb(255, 166, 0);
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    color: rgb(255, 166, 0);
    background-color: black;
    border: 2px solid rgb(255, 166, 0);
}

h1,
h2,
p {
    color: rgb(255, 196, 0);
}

.detalhes {
    margin-top: 10px;
}

h3 {
    color: #f7cd75;
}

.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to top left, rgb(255, 166, 0) 0%, black 100%);

}

h1 {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 80%;
    table-layout: fixed;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgb(122, 77, 0);
    margin-bottom: 60px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  thead {
    height: 30px;
  }

  tbody
  {
      color: rgb(255, 196, 0);
  }
  
  thead {
    background-color: rgb(255, 196, 0);
    color: black;
  }
  
  tr.lineTable {
    height: 50px;
  }
  
  tr.lineTable:nth-child(even) {
    background-color: rgb(122, 77, 0);
  }
  
  tr.lineTable:nth-child(even):hover,
  tr.lineTable:hover {
      background-color: rgb(255, 196, 0);
    box-shadow: 0px 5px 10px rgb(122, 77, 0);
    color: black;
  }

  .novo
  {
    margin-bottom: 20px;
  }